@media screen and (min-width:320px) and (max-width:700px){
    body
    {
        position: relative;
    }
    .menu-close
    {
        position: absolute;
        width: 50%;
        height: 100vh;
        z-index: 99999999;
        top: 0;
        left: 0;
        background-color: #121421;
        color: #fff;
    }
    .menu > ul > h2
    {
        display: none;
    }
    /* drop down */
    .drop-down-list
    {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 80%;
        display: block;
        padding: 0;
        margin: 0;
    }
    .menu > ul > li 
    {
        display: inline-block;
        padding: 40px 50px 10px 50px;
    }
    .drop-down-list .user_info
    {
        width: 100%;
        padding: 0;
        text-align: center;
    } 
    /* close btn */
    .close-btn
    {
        position: absolute;
        left: 87.5%;
        top: 20px;
        width: 50%;
        transform: rotate(-90deg);
        background-color: #121421;
        color: #fff;
    }
    .menu-open
    {
        border-radius: 0;
        left: -160px; 
    }

    /* ________________________ */
    .home
    {
        height: 100vh;
    }
    .home-item
    {
        padding: 100px 0 0 0;
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .home-item-title
    {
        font-size: 30px;
    }
    .home-item-desc
    {
        font-size: 20px;
    }
    /*______________________________________________*/
    .about
    {
        width: 100%;
        height: 150vh;
    }
    .about-item
    {
        display: block;
        width: 90%;
    }
    /*______________________________________________*/
    .team
    {
        height: 100vh;
    }
    .team-item > img
    {
        width: 50%;
    }
    .team-item-desc
    {
        width: 100%;
    }
    /*______________________________________________*/
    .courses
    {
        height: 250vh;
    }
    .courses-change
    {
        height: 750vh;
    }
    .courses-item
    {
        width: 90%;
        height: 70vh;
        display: block;
        margin: 30px auto;
        position: relative;
        left: 5%;
    }
    .mines-btn-hide,.add-courses-btn
    {
        position: absolute;
        left: 43%;
        top: 95%;
    }
    a
    {
        text-decoration: none;
    }


    /*______________________________________________*/ 
    .contact
    {
        height: 100vh;
        padding: 200px 0;
    }
    .form-item
    {
        display: block;
        width: 100%;
        margin: auto; 
    }
    .form-item input,textarea,button
    { 
        margin: 20px auto;
        display: block;
        text-align: center;
    }

    /*______________________________________________*/
    .none
    {
        display: none;
    }

    /*______________________________________________*/
    .footer
    {
        width: 100%;
        height: 100vh;
    }
    .footer-item
    {
        width: 100%;
    }
    .footer-item-title
    {
        width: 85%;
    }

}